@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sales Store</h1>
    <p class="lead">Sales Store to browse, shop and market merchandise.</p>
    <p><a href="http://www.google.com" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text.
        </p>
        <p><a class="btn btn-default" href="http://www.google.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more Information</h2>
        <p>Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text.</p>
        <p><a class="btn btn-default" href="http://www.google.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Share our franchise??</h2>
        <p>Now you can easily buy our franchise at designated locations and start business....</p>
        <p><a class="btn btn-default" href="http://www.google.com">Learn more &raquo;</a></p>
    </div>
</div>